<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSNv0V-NJiC_iVL-fEyLkc6OYKGUYfPAw</string>
	<key>GCM_SENDER_ID</key>
	<string>951352846121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pimMobile</string>
	<key>PROJECT_ID</key>
	<string>pimmobil-90384</string>
	<key>STORAGE_BUCKET</key>
	<string>pimmobil-90384.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951352846121:ios:ac1fb6a01780b819f9f938</string>
</dict>
</plist>